
@-webkit-keyframes main { 
	0% {
		-webkit-transform: scale3d(0.1, 0.1, 1);
		transform: scale3d(0.1, 0.1, 1);
		opacity: 0;
	}
	45% {
		-webkit-transform: scale3d(1.07, 1.07, 1);
		transform: scale3d(1.07, 1.07, 1);
		opacity: 1;
	}
	70% {
		-webkit-transform: scale3d(0.95, 0.95, 1);
		transform: scale3d(0.95, 0.95, 1);
		}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}	
@keyframes main { 
	0% {
		-webkit-transform: scale3d(0.1, 0.1, 1);
		transform: scale3d(0.1, 0.1, 1);
		opacity: 0;
	}
	45% {
		-webkit-transform: scale3d(1.07, 1.07, 1);
		transform: scale3d(1.07, 1.07, 1);
		opacity: 1;
	}
	70% {
		-webkit-transform: scale3d(0.95, 0.95, 1);
		transform: scale3d(0.95, 0.95, 1);
		}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}	

a{
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
}
main{
	left: 0;
	right: 0;
	color:#666;
	-webkit-animation: main .8s 1;
	-webkit-animation-fill-mode: forwards;
	animation: main .8s 1;
	animation-fill-mode: forwards;
	margin:8% auto;
}


@media screen and (min-width: 311px) {
	main{
		width:300px;
	}
}
@media screen and (min-width: 576px) {
	main{
		width:400px;
	}
}
@media screen and (min-width: 768px) {
	main{
		width:600px;
	}
}

@media screen and (max-width:310px){
	main{
		width:100%;
		-webkit-animation: none;
		animation: none;
		background: white;
	}
	body{
		background:#FFF;
	}
}
#statusCode{
	display: block;
	font: 72px 'TeXGyreScholaBold', Arial, sans-serif;
	color: #08F;
	text-shadow: 2px 2px #f7f7f7;
}
#statusCode:before{
	content:"!";
	display: inline-block;
	top: -6px;
	margin: 0 10px 5px 0;
	background: #08F;
	width: 50px;
	height: 50px;
	box-shadow: 1px 2px white;
	border-radius: 50px;
	color: #dfdfdf;
	font-size: 46px;
	line-height: 48px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0;
}
#main{
	background: white;
	box-shadow: 0 0 0 3px #ededed inset, 0 0 0 1px #a2a2a2, 0 0 20px rgba(0,0,0,.15);
	border-radius: 5px;
	padding:20px;
	min-height: 150px;
}
@media screen and (max-width:310px){
	#main{
		background:none;
		box-shadow:none;
		border-radius:none;
		padding:0 20px;
	}
}
#title{
	padding: 20px 0;
	font: 20px 'TeXGyreScholaRegular', Arial, sans-serif;
	color: #8e8e8e;
	text-align: center;
}
#info {
	font-size: 13px;
	line-height: 1.3em;
	color: #b5b5b5;
}
.btn {
	display: inline-block;
	height: 34px;
	margin:24px 0;
	padding: 0 18px;
	background: #08F;
	background-image: -webkit-linear-gradient(top, #29F 0%, #07D 100%);
	box-shadow: 0 0 0 1px #06B, 0 1px 3px rgba(0, 50, 85, 0.5), 0 1px #07D inset;
	border-radius: 3px;
	font-size: 14px;
	line-height: 34px;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px #00385a;
	text-decoration: none;
}
.clear{
	clear:both;
}
@media screen and (min-width:311px){
	#qrcode{
		width:160px;
		height:160px;
		margin:auto;
	}
}
@media screen and (max-width:310px){
	#qrcode{
		position:none;
	}
}