::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background-color: #eee;
}
::-webkit-scrollbar:hover {
	background-color: #ddd;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

* { padding: 0; margin: 0; box-sizing: border-box; }
html {font-size: 16px; background: #f8f8f8;}
@media print{ html { background: none; } }
p {font-size: 16px;text-indent: 2em;}
h4,h5,h6 {font-size: 16px;}
h3 {font-size: 1.1em;}
h2 {font-size: 1.2em;}
h1 {font-size: 1.3em;}
a {color: #0088FF; text-decoration: none;}
a:hover {text-decoration: underline;}
ul,ol { padding-left: 1em; }

body {
	margin: auto;
	max-width: 800px;
	padding: 4px;
	
}
header {
	margin-top: 20px;
}
header a {
	color: inherit;
	text-decoration: none!important;
}
header #site-logo {
	width: 60px;
	height: 60px;
	margin: 6px;
	float: left;
}

header #qrcode-links {
	height: 32px;
	line-height: 32px;
	margin: auto;
	text-align: right;
	position: relative;
	white-space:nowrap;
}

header #qrcode-links li {
	display:inline-block;
	height: 32px;
}
header #qrcode-links li * {
	display:inline-block;
	height: 32px;
}
header #qrcode-links li img {
	display: none;
	position: absolute;
	top: 32px;
	right: 24px;
	margin: auto;
	width: 240px;
	height: auto;
}
header #qrcode-links li:hover img {
	display: block;
}

header #qrcode-links a:before,
header #qrcode-links div:before {
	width: 20px;
	height: 20px;
	margin: 6px 2px;
}
.gitee-logo:before,
.github-logo:before,
.gitlab-logo:before,
.weibo-logo:before,
.wechat-logo:before,
.wepay-logo:before,
.alipay-logo:before,
.email-logo:before {
	content: '';
	display:inline-block;
	background-size: 100% 100%;
}
.gitee-logo:before {
	background-image: url(../images/icon/gitee.svg);
}
.github-logo:before {
	background-image: url(../images/icon/github.svg);
}
.gitlab-logo:before {
	background-image: url(../images/icon/gitlab.svg);
}
.weibo-logo:before {
	background-image: url(../images/icon/weibo.svg);
}
.wechat-logo:before {
	background-image: url(../images/icon/wechat.svg);
}
.wepay-logo:before {
	background-image: url(../images/icon/wepay.svg);
}
.alipay-logo:before {
	background-image: url(../images/icon/alipay.svg);
}
.email-logo:before {
	background-image: url(../images/icon/email.svg);
}

header #site-name {
	color: #FFF;	
	height: 40px;
	line-height: 40px;
}

header #site-name::before {
	content: '';
	height: 40px;
	position: absolute;
	left: 0;
	right: 0;
	width: auto;
	z-index: -1;
	background-color: #0088FF;
}




footer {
	clear: both;
	margin: 20px 0 5px 0;
}

footer section {
	margin: 0 auto 5px;
	max-width: 800px;
	line-height: 30px;
	text-align: center;
	border-top: 2px solid #0088FF;
	font-size: 14px;
	color:#666;
	/* position: absolute; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
}






.style-context-box {
	background-color: #FFF;
	border-radius: 4px;

	box-sizing: border-box;
	margin: 0 4px 8px;
	border-radius: 2px;
	/* border: 1px solid #eee8d5; */
	/* box-shadow: 5px 5px 10px rgba(0, 0, 0, .2); */
	/* background: #F5F5D5; */
	padding: 5px 20px;
}

@media print{
	.style-context-box {
		background: none;
		box-shadow: none;
		border: none;
		margin: 0;
	}
}











.blog-info {
	margin: 20px 10px 0;
	padding: 0 20px;
	border-bottom: 2px #08F solid;
}
.blog-time {
	float: right;
}

.blog-toc ul, .blog-toc ol {
	list-style: none;
	padding: 0;
}



.archive-title {
	margin: 20px;
	font-size: 24px;
	font-weight: bold;
	color: #08F;
	text-shadow: 2px 2px #BDF;
}
.archive-blog-main p {
	color: #666;
}
.archive-blog-main h2 {
	border-bottom: 2px #08F solid;
}
.archive-blog-time {
	display: block;
	text-align: right;
}
div#archive-sidebar ul {
	margin: 0;
	padding: 0;
}
div#archive-sidebar li {
	display: block;
}




.article-entry:after {
	content: "";
	display: block;
	clear: both;
}
article {
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

article .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
article .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
article .gist .gist-file .gist-data {
  background: none;
  border: none;
}
article .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
article .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
article .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
article .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
article .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
article .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}











article table{
	margin: auto;
	border-spacing: 0;
	border-spacing: 0;
	display: block;
	overflow: auto;
}
article table td, article table th {
	padding: 6px 13px;
	border: 1px solid #ddd;
}

article img {
	max-width: 100%;
}

code {
	background: #F5f5f5;
	text-shadow: 0 1px #fff;
	padding: 0 0.3em;
	font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

article blockquote {
	color: #666;
	border-left: 4px solid #ddd;
	padding: 5px 20px;
	font-size: 14px;
	font-style: italic;
	background: #FFF;
}
article blockquote p{
	margin: 5px 0;
}
article blockquote {
	margin: 0 -20px;
}
blockquote .hljs, article .hljs {
	margin: 0 -20px;
}
pre code{
	white-space: break-spaces;
	display: block;
	text-shadow: none;
	overflow-x: auto;
	padding: 0;
}

code.tex, code.sequence, code.flowchart{
	background: none;
	overflow-y: hidden;
	text-align: center;
}
code.hljs{
	text-align: left;
	text-shadow: none;
	position: relative;
	overflow-x: auto;
	padding: 0;
	background-image: -webkit-linear-gradient(#F0F0F0 50%,#F7F7F7 50%);
	background-image: -o-linear-gradient(#F0F0F0 50%,#F7F7F7 50%);
	background-image: -moz-linear-gradient(#F0F0F0 50%,#F7F7F7 50%);
	background-image: linear-gradient(#F0F0F0 50%,#F7F7F7 50%); 
	background-size: auto 3em;
}

code.hljs ol {
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	padding: 0 0 0 4em;
	overflow-x: auto;

}
code.hljs li {
	border-left: #666 0.1em solid;
}

@media print {
	pre {
		white-space: pre-wrap;
	}
	code.hljs {
		background: none;
		border: 1px solid;
	}
	code.hljs ol {
		padding-left: 0;
	}
	code.hljs li {
		position: relative;
		padding-left: 4.6em;
	}
	code.hljs li:before {
		height: 100%;
		background: none!important;
	}

}
