<%
let title = '';
if (page.is_error_page) {
	title = page.error_code + ":" + page.error_title;
} else if (page.archive) {
	title = page.title || '';
} else {
	title = page.title || '';
	if (page.category && page.category.title) {
		title += ' # ' + page.category.title;
	}
}
if (title) { title += ' | '; }
title += '博客 @ ' + config.title;
%><title><%= title; %></title>